html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  background-color: #0b0f16;
}
::-webkit-scrollbar-thumb {
  background-color: #002f39;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #003e4a;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.justify-start {
  display: flex;
  justify-content: flex-start;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.justify-end {
  display: flex;
  justify-content: flex-end;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}
.items-start {
  display: flex;
  align-items: flex-start;
}
.items-center {
  display: flex;
  align-items: center;
}
.items-end {
  display: flex;
  align-items: flex-end;
}
